<div class="card">
  <div class="card-header">{{ pageTitle }}</div>
  <div class="card-body">
    <div class="row">
      <div class="table-responsive">
        <table class="table">
          <tr>
            <th></th>
            <th></th>
            <th scope="col">{{ tableHeader.metaData.items["202108"].name }}</th>
            <th scope="col">{{ tableHeader.metaData.items["202109"].name }}</th>
            <th scope="col">{{ tableHeader.metaData.items["202110"].name }}</th>
            <th scope="col">{{ tableHeader.metaData.items["202111"].name }}</th>
            <th scope="col">{{ tableHeader.metaData.items["202112"].name }}</th>
            <th scope="col">{{ tableHeader.metaData.items["202201"].name }}</th>
          </tr>
          <tr>
            <th scope="row">
              {{ tableHeader.metaData.items.jUb8gELQApl.name }}
            </th>
            <td>
              {{ tableHeader.metaData.items.sB79w2hiLp8.name }}
            </td>
            <td>
              {{ tableRow.rows[63][3] }}
            </td>
            <td>
              {{ tableRow.rows[69][3] }}
            </td>
            <td>
              {{ tableRow.rows[74][3] }}
            </td>
            <td>
              {{ tableRow.rows[78][3] }}
            </td>
            <td>{{ tableRow.rows[82][3] }}</td>
            <td>{{ tableRow.rows[87][3] }}</td>
          </tr>
          <tr>
            <th scope="row">
              {{ tableHeader.metaData.items.TEQlaapDQoK.name }}
            </th>
            <td>
              {{ tableHeader.metaData.items.sB79w2hiLp8.name }}
            </td>
            <td>
              {{ tableRow.rows[65][3] }}
            </td>
            <td>
              {{ tableRow.rows[71][3] }}
            </td>
            <td>
              {{ tableRow.rows[75][3] }}
            </td>
            <td>
              {{ tableRow.rows[79][3] }}
            </td>
            <td></td>
            <td>{{ tableRow.rows[89][3] }}</td>
          </tr>
          <tr>
            <th scope="row">
              {{ tableHeader.metaData.items.Vth0fbpFcsO.name }}
            </th>
            <td>
              {{ tableHeader.metaData.items.sB79w2hiLp8.name }}
            </td>
            <td>
              {{ tableRow.rows[64][3] }}
            </td>
            <td>
              {{ tableRow.rows[70][3] }}
            </td>
            <td></td>
            <td></td>
            <td>
              {{ tableRow.rows[83][3] }}
            </td>
            <td>
              {{ tableRow.rows[88][3] }}
            </td>
          </tr>
          <tr>
            <th scope="row">
              {{ tableHeader.metaData.items.O6uvpzGd5pu.name }}
            </th>
            <td>
              {{ tableHeader.metaData.items.OdiHJayrsKo.name }}
            </td>
            <td>
              {{ tableRow.rows[30][3] }}
            </td>
            <td>
              {{ tableRow.rows[36][3] }}
            </td>
            <td>
              {{ tableRow.rows[42][3] }}
            </td>
            <td>
              {{ tableRow.rows[46][3] }}
            </td>
            <td>
              {{ tableRow.rows[50][3] }}
            </td>
            <td>
              {{ tableRow.rows[54][3] }}
            </td>
          </tr>
          <tr>
            <th scope="row">
              {{ tableHeader.metaData.items.fdc6uOvgoji.name }}
            </th>
            <td>
              {{ tableHeader.metaData.items.OdiHJayrsKo.name }}
            </td>
            <td>
              {{ tableRow.rows[31][3] }}
            </td>
            <td>
              {{ tableRow.rows[37][3] }}
            </td>
            <td>
              {{ tableRow.rows[43][3] }}
            </td>
            <td></td>
            <td>
              {{ tableRow.rows[51][3] }}
            </td>
            <td>
              {{ tableRow.rows[55][3] }}
            </td>
          </tr>
          <tr>
            <th scope="row">
              {{ tableHeader.metaData.items.lc3eMKXaEfw.name }}
            </th>
            <td>
              {{ tableHeader.metaData.items.Uvn6LCg7dVU.name }}
            </td>
            <td>
              {{ tableRow.rows[2][3] }}
            </td>
            <td>
              {{ tableRow.rows[8][3] }}
            </td>
            <td></td>
            <td>
              {{ tableRow.rows[17][3] }}
            </td>
            <td></td>
            <td>
              {{ tableRow.rows[26][3] }}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
